html,
body {
    height: 100vh;
    width: 100vw;
    max-width: 100vh;
    max-height: min-content;
    white-space: nowrap;
    min-height: fit-content;
    min-width: fit-content;
    margin: 0 auto;
}

body {
    background-color: aquamarine;
    user-select: none; /*No accidental highlighting when button clicks are disabled*/
}


/******************************
*  Page heading / Game title 
*******************************/

#game-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: black;
    font-size: x-large;
    color: rgb(255, 223, 148);
    margin-top: 10px;
}

h1 {
    margin: 0;
    padding: 20px 20px;
}


/**********************
*  Scoreboard section
***********************/

#score-board {
    display: flex;
    justify-content:space-around;
    align-items: center;

    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding-top: 20px;
}

#instruct-play h2 {
    margin: 20px 0 30px 0;
}

.player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-name, #vs {
    font-weight: 900;
}


/************************************************
*  Input section: rock-paper-scissors selection *************************************************/

#gameplay-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    padding: 0 20px 0px 20px;
}

#weapon-options {
    display: flex;
}

#weapon-options a {
    display: flex;
    justify-content: center;
    margin: 0 2%;
}

.game-button {
    box-sizing: border-box;
    border:3px solid transparent;
    border-color: black;
}

.game-button img {
    max-width: 100%;
    max-height: auto;
}

.game-button:hover {
    border-color: rgb(34, 249, 38);
}

/* Styling for game round outcome */

.chosen-by-human {
    border-color: rgb(34, 249, 38);
}

.chosen-by-computer {
    border-color: red;
}

.tied {
    border-color: gray;
}


/*******************
*  Message section
********************/

#game-message-section {
    text-align: center;
    margin: 50px 20px;
    padding-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Styling for each round outcome */

.win-text {
    -webkit-text-stroke: 1px darkslategray;
    color: rgb(34, 249, 38);
}

.lose-text {
    -webkit-text-stroke: 1px darkslategray;
    color: red;
}

.tied-text {
    -webkit-text-stroke: 1px black;
    color: gray;
}