body {
    margin: 0;
}

#game-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(23, 23, 23);
    font-size: x-large;
    color:rgb(212, 192, 78);
}

h1 {
    margin-top: 0;
    padding: 40px 0;
}